@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  font-family: Roboto;
  font-size: medium;
  background-color: whitesmoke;
  font-weight: bold;
}

h4 {
  color: dodgerblue;
  padding: 0px;
  margin: 10px 250px 10px 0px;
}

a:link {
  text-decoration: none;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  float: left;
  text-align: center;
  padding: 0px 5px;
  margin: 10px 10px 10px 0px;
}

nav {
  display: flex;
  align-content: space-around;
  align-self: auto;
}

.nav-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-links {
  color: black;
}

main {
  display: flex;
  /* width: 10%; */
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  /* width: 10%; */
  align-content: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 10% 41%; */
  /* border-radius: 6px; */
  /* color: whitesmoke; */
}

h2 {
  display: flex;
  font-size: larger;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  margin: 13% 37% 2% 37%;
  background-color: rgb(19, 0, 48);
  border-radius: 6px;
  color: whitesmoke;
  padding: 1%;
}

/* .color {
  font-size: larger;
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(19, 0, 48);
  padding: 1%;
  display: flex;
  align-content: center;
  justify-content: center;
} */

button {
  background-color: rgb(19, 0, 48);
  color: whitesmoke;
  border-radius: 6px;
  border-style: none;
  margin: auto;
  padding: 10px 8px;
  font-size: 11px;
  letter-spacing: 5px;

  display: flex;
  align-content: center;
  justify-content: center;
  text-transform:uppercase;
}

#btn {
  display: flex;
  width: 10%;
  align-content: center;
  justify-content: center;
  text-transform:uppercase;
  
}

#btn .btn .btn-hero {
  display: flex;
  width: 10%;
  align-content: center;
  justify-content: center;
  text-transform:uppercase;
  color: whitesmoke;
}